Task#01

In [7]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame({'Weight':[2,4,5,3,6,5,7],'Price':[35,60,20,50,50,55,60]})
print(df)

   Weight  Price
0       2     35
1       4     60
2       5     20
3       3     50
4       6     50
5       5     55
6       7     60

In [6]:
x=df['Weight']
y=df['Price']

In [9]:
mean_x= np.mean(x)
mean_y=np.mean(y)

In [10]:
mean_x

4.571428571428571

In [11]:
mean_y

47.142857142857146

In [12]:
dev_x=x-mean_x
dev_y=y-mean_y

In [13]:
m=np.sum(dev_x*dev_y)/np.sum(dev_x**2)
print(m)

2.620967741935484

In [15]:
c=mean_y-m*mean_x
print(c)

35.16129032258065

In [16]:
pred_6=m*6+c
print(pred_6)

50.88709677419355

Task#02

In [22]:
df["pred_price"]=m*x+c

In [23]:
print(df["pred_price"])

0    40.403226
1    45.645161
2    48.266129
3    43.024194
4    50.887097
5    48.266129
6    53.508065
Name: pred_price, dtype: float64

In [19]:
df["residual"]=df["pred_price"]-x
print(df["residual"])

0    38.403226
1    41.645161
2    43.266129
3    40.024194
4    44.887097
5    43.266129
6    46.508065
Name: residual, dtype: float64

In [25]:
df.head()

   Weight  Price     pred_x   residual  pred_price
0       2     35  40.403226  38.403226   40.403226
1       4     60  45.645161  41.645161   45.645161
2       5     20  48.266129  43.266129   48.266129
3       3     50  43.024194  40.024194   43.024194
4       6     50  50.887097  44.887097   50.887097

In [26]:
df=df.drop(columns=["pred_x"])
print(df)

   Weight  Price   residual  pred_price
0       2     35  38.403226   40.403226
1       4     60  41.645161   45.645161
2       5     20  43.266129   48.266129
3       3     50  40.024194   43.024194
4       6     50  44.887097   50.887097
5       5     55  43.266129   48.266129
6       7     60  46.508065   53.508065

Task#3

In [27]:
from sklearn.metrics import  mean_squared_error, mean_absolute_error

In [35]:
mse = mean_squared_error(df[['Price']],df[['pred_price']])
print(mse)

167.30990783410135

In [43]:
mse_manual=np.mean(df["residual"]**2)
print(mse_manual)

1818.9758064516132

In [41]:
mae = mean_absolute_error(df.Price , df.pred_price)
print(mae)

9.87327188940092

In [44]:
mae_manual=np.mean(np.absolute(df["residual"]))
print(mae_manual)

42.57142857142857

Task#4

In [51]:
df.to_excel

<bound method NDFrame.to_excel of    Weight  Price   residual  pred_price
0       2     35  38.403226   40.403226
1       4     60  41.645161   45.645161
2       5     20  43.266129   48.266129
3       3     50  40.024194   43.024194
4       6     50  44.887097   50.887097
5       5     55  43.266129   48.266129
6       7     60  46.508065   53.508065>